* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #CC967B;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
  margin: 2vw;
}

.home-hero {
  width: 100vw;
  height: 73.5vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./img/eating-food.jpg');
  background-position: top;
  background-size: cover;
  margin-bottom: 0.8vh;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
  width: 200px;
  margin: 1vw;
}

.menu {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
  margin: 2vw;
}

nav span {
  padding-left: 2vw;
}

nav span::after {
  background-color: #efefef; 
  bottom: 0;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
  width: 50px;
}


.hero-items {
  display: flex;
  flex-direction: column;
  width: 100vw;
  color: white;
  font-family: 'Akshar', sans-serif;
  justify-content: center;
  align-items:flex-end;
  font-size: x-large;
  padding-right: 20vw;
  padding-top: 10vh;
}

.hero-items h3, .hero-btn {
 margin-top: 2vh;
}

.hero-btn {
  background-color: #845A4B;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  font-family: 'Akshar', sans-serif;

}

.hero-btn:hover {
  background-color: #CC967B;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
  color: white;
}

.home-container-l, .home-container-m, .home-container-r {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.home-container-l, .home-container-r {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.home-button-l {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./img/table-setting.jpg');
  background-position: center;
  background-size: cover;
  margin-right: 0.5vw;
} 

.home-button-m {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./img/hot-plate.jpg');
  background-position: center;
  background-size: cover;
  margin-right: 0.5vw;
}

.home-button-r {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./img/restaurant.jpg');
  background-position: center;
  background-size: cover;
}

.home-button-l, .home-button-m, .home-button-r {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Akshar', sans-serif;
  font-size: x-large;
  transition: all 0.5s;
}

.home-button-l:hover, .home-button-m:hover, .home-button-r:hover {
  transform: scale(1.2);
}

.content h2 {
  padding-bottom: 1vh;
}


.menu-board {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.2fr 1.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "menu-header menu-header"
    "menu-left menu-right"; 
  width: 75vw;
  height: 70vh;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  margin: 0;
  top: 15vh;
  left: 12.5vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
  
.menu-header {
  grid-area: menu-header;
  width: 75vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.logo-dark {
  width: 20%;
  padding-top: 1vh;
}

.menu-left {
  grid-area: menu-left;
  width: 37.5vw;
  height: 60vh;
}

.menu-right {
  grid-area: menu-right;
  width: 37.5vw;
  height: 60vh;
}

.menu-title {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-family: 'Akshar', sans-serif;
  font-size: large;
}

.menu-item {
	position: relative;
	padding: 20px 0 0 90px;
	margin-bottom: 30px;
	min-height: 80px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.menu-item-text {
  background: radial-gradient(#d5d5d5 40%,rgba(0,0,0,0) 10%);
  background-position: 0 13px;
  background-size: 4px 4px;
  background-repeat: repeat-x;  
}

.menu-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.menu-item h3 {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  margin: 0;
  padding-right: 3px;
}

.menu-item p {
  font-family: 'Akshar', sans-serif;
  font-weight: 200;
}

.menu-item em {
	float: right;
	font-weight: 600;
	background-color: #fff;
	font-style: normal;
	padding-left: 3px;
}

.menu_item p {
	margin-bottom: 0;
}

.delivery-contents {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "delivery-left delivery-right";
  width: 75vw;
  height: 70vh;
  position: absolute;
  margin: 0;
  top: 15vh;
  left: 12.5vw;
}

.delivery-left {
  grid-area: delivery-left;
  font-family: 'Akshar', sans-serif;
}

.delivery-left h2, .delivery-left p {
  padding-top: 2vh;
  font-size: 150%;
  
}

.delivery-partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delivery-partners img {
  width: 150px;
  margin: 10px;
}

.delivery-right {
  grid-area: delivery-right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-pic {
  width: auto;
  max-height: 70vh;
  border-radius: 12px;
}

.delivery-newsletter {
  background-color: white;
  border-radius: 12px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.delivery-signup {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

input[type=email]{
  width: 83%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sign-up {
  width: 15%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-up:hover {
  background-color: #45a049;
}