*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body,html{
  padding: 0;
  margin: 0;
  height: 100%;
}

.parent {
  display: grid;
  grid-template-areas: 
  "side top"
  "side main";
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh
  
  }
  
  .side-nav{
    grid-area: side;
    background-color: #212130;
    overflow: visible;
    resize: horizontal;
  }

  .logo {
    width: 100%;
    margin: auto;
    padding: 20px;
  }

  .top-nav {
    grid-area: top;
    background-color: #212130;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .main {
    grid-area: main;
    background-color: #17171e;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-between;
  }

  .nav-menu {
    
    padding-top: 10%;
    padding-left: 10%;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-user{
    padding-top: 10%;
    padding-left: 10%;
    align-items: center;
    justify-content: flex-end;
  }

  .material-icons {
    color: white;
    font-size: x-large;
    padding-right: 5%;
  }
  
  .nav-menu a, .nav-user a{
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-large;
  }

  .nav-item {
    padding-top: 15%;
  }

  /* Animated search box */

  .search-box{
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    position: relative;
  }

  .search-box .material-icons{
    color: #f93a0b;
  }

  .input-search{
    height: 50px;
    width: 50px;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border:2px solid #f93a0b;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#f93a0b;
  }

  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border:2px solid #f93a0b;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border:2px solid #f93a0b;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  /* notification bar */

  .noti-bar {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
  }

  .noti-bar .material-icons{
    font-size: xx-large;
  }

  .profile-img {
    width: 5%;
  }

  /* page content */

  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    padding: 2%;
    gap: 2%;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    align-self: center;
    justify-self: center;
   
    }

    .main-title {
      color: white;
      padding-left: 2%;
      padding-right: 2%;
      font-size: larger;
      font-family: 'Barlow Condensed', sans-serif;
    }
    
    .card-left-top { 
      grid-area: 1 / 1 / 3 / 3;
      background-color: #212130;
    }
    .card-left-middle { 
      grid-area: 3 / 1 / 5 / 3;
      background-color: #212130;
    }
    .card-left-bottom{ 
      grid-area: 5 / 1 / 7 / 3;
      background-color: #212130;
    }
     
    .card-right-top { 
      grid-area: 1 / 3 / 3 / 5;
      background-color: #212130;
    }
     
    .card-right-middle { 
      grid-area: 3 / 3 / 5 / 5;
      background-color: #212130;
    }
     
    .card-right-bottom { 
      grid-area: 5 / 3 / 7 / 5;
      background-color: #212130;
    }
     
    .side-card-top { 
      grid-area: 1 / 5 / 4 / 6;
      background-color: #212130;
    }
     
    .side-card-bottom{ 
      grid-area: 4 / 5 / 7 / 6;
      background-color: #212130;
    }

    .announcement, .card-title{
      padding-left: 5%;
      padding-right: 5%;
    }

    .card-title {
      color: #f93a0b;
    }

    /* table styles */
    
    table{
      width: 100%;
      color: white;
      font-size: x-large;
    }
    
    tr {
      height: 60px;
    }

    td-l {
      width: 90%;
      height: 60px;
      text-align: left;
    }

    td-r {
      width: 90%;
      height: 60px;
    }
    
    /* Button Styling */
    .view-task {
      align-items: center;
      background-clip: padding-box;
      background-color: transparent;
      border: 2px solid #fa6400;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #fa6400;
      cursor: pointer;
      display: inline-flex;
      font-family: 'Bebas Neue', cursive;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    
    .view-task:hover,
    .view-task:focus {
      background-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    
    .view-task:hover {
      transform: translateY(-1px);
    }
    
    .view-task:active {
      background-color: transparent;
      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
      transform: translateY(0);
    }

    .timeline-text{
      color: white;
    }