body{
  background-color: #0353A4;
  font-family: 'Anybody', cursive;
}

.calcBG {
  border-radius: 25px;
  background: #5C677D;
  padding: 20px; 
  width: 400px;
  height: 600px; 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.calcScreen{
  border-radius: 25px;
  background: #33415C;
  padding-top: 30px;
  display: flex;
  justify-content: right;
  margin: 0;
  width: 100%;
  height: 50px;
}

.calcDisplay{
  color: #0466C8;
  padding-right: 30px;
  font-size: xx-large;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.keypad{
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  margin: 0;
}

.keypadBtn{
  border-radius: 8px;
  background-color: #33415C;
  border: 2px solid #5C677D;
  width:80px;
  height:80px;
  color: white;
  font-size: xx-large;
  padding: 5px;
  margin: 5px;
}

.keypadBtn:hover{
  background-color: #0466C8;
}

.keypadEquals{
  width: 175px;
}

.calcBottom{
  color: white;
  text-align: right;
}